* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

html,
body {
  margin: 0;
  width: 100vw;
  font-family: 'Baloo Da 2', cursive;
}



.mainWrapper {
  display: grid;
      grid-template:
        "aside header" 100px
        "aside main" 1fr / 
       350px 1fr;
  height: 100vh;
  background-color: #000a12;
}

.aside {
  grid-area: aside;
  background-color: #000a12;
  color: white;
}

.aside--h3 {
  padding-left: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.aside--p {
  font-size: 20px;
  display: grid;
  place-content: space-around;
}

.aside--search-bar {
  display: grid;
  margin: 25px;
  height: 25px;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  color: white;
}

.aside--grid{
  display: grid;
}

.aside--inline-two {
    display: flex;
}

.aside--bottle-img {
  width: 120px;
  margin: 10px;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.5);
}

.zoom--slow {
  transition: transform 0.5s;
}

.zoom--slow:hover {
  transform: scale(1.05);
}

.main--windows-logo {
  width: 150px;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  overflow: scroll;
  gap: 15px;
  background-color: #000a12;
  margin: 0px;
  padding-top: 40px;

}

.main--card {
  grid-auto-flow: row;
  width: auto;
  height: auto;
  display: inline-block;
  /* border: 1px black solid; */
  color: white;
  text-align: center;

  /* //this is the */
  position: relative;
  z-index: 1;

}


.main--card-title {
  text-align: center;
  margin: 0px;
  position: absolute;
  z-index: 2;
  right: 13px;
  bottom: 13px;
  font-weight: bold;
  font-size: 17px;
  color: black;
  background-color: ghostwhite;
  border-radius: 31px;
  padding-right: 10px;
  padding-left: 10px;
}



.main--card-image{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

 .box:hover .main--button-seemore {
   opacity: 100%;
   transition: 1.05s;
 }

.seemore--hidden {
  display: none;
}

.seemore--panel {
  background-color: white;
  border: 2px black solid;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  place-items: center;

  width: fit-content;
  height: fit-content;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

.seemore--image {
  width: 300px;
}

.seemore--ingredients-container{
  display: flex;

}

.main--button-seemore{
  position: absolute;
  z-index: 2;
  right: 94px;
  bottom: 133px;

  background-color: #e6ceff;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;

  opacity: 0%;
}

.main--button-seemore,
.seemore--ingredient{
 background-color: #e6ceff;
 padding: 10px;
 margin: 5px;
 border-radius: 20px;
}

.seemore--p {
  max-width: 1000px;
}

.relative {
  position: relative;
  width: 100vw;
}

.login {
  background-color: rgb(173, 173, 248);
  width: 50%;
  height: 80%;
  border: 2px black solid;
  border-radius: 10px;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: grid;
  place-items: center;
}

.login--gif {
  width: 300px;
}

.login--gif-wide {
  width: 500px;
}

/* SCROLL BEHAVIOUS starts here */
::-webkit-scrollbar {
  width: 0px;
}